@import '../../variables.scss';

.container {
    position: relative;
    background-color: $background-color-classic;
    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    color: $color-gray-light;

    font-family: "Montserrat", sans-serif;
}

.content {
    width: 125rem;
    position: relative;
}

@media only screen and (min-height: 1100px) and (max-width: 1400px) {
    .content {
        width: 100%;
        height: 800px;
        align-self: center;
    }
}

@media only screen and (max-width: 480px) and (min-height: 550px) {
    .content {
        width: 100%;
        height: 500px;
        align-self: center;
    }
}

.content_before,
.edge_before {
    content: '';
    position: absolute;
    width: 2.25rem;
    height: 30rem;
}

.content_after,
.edge_after {
    content: '';
    position: absolute;
    width: 30rem;
    height: 2.25rem;
}

.content_before {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, $color-linear-gradient-first 0%, $color-linear-gradient-second 100%);
}

.content_after {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, $color-linear-gradient-first 0%, $color-linear-gradient-second 100%);
}

.edge_before {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to top, $color-linear-gradient-first 0%, $color-linear-gradient-second 100%);
}

.edge_after {
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to left, $color-linear-gradient-first 0%, $color-linear-gradient-second 100%);
}

.content_before::before,
.content_after::before,
.edge_before::before,
.edge_after::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
}

.content:hover .content_before::before,
.content:hover .content_after::before,
.content:hover .edge_before::before,
.content:hover .edge_after::before {
    opacity: 1;
}

.content_before::before {
    background-image: linear-gradient(to top, $color-linear-gradient-first 0%, $color-linear-gradient-second 100%);
}

.content_after::before {
    background-image: linear-gradient(to left, $color-linear-gradient-first 0%, $color-linear-gradient-second 100%);
}

.edge_before::before {
    background-image: linear-gradient(to bottom, $color-linear-gradient-first 0%, $color-linear-gradient-second 100%);
}

.edge_after::before {
    background-image: linear-gradient(to right, $color-linear-gradient-first 0%, $color-linear-gradient-second 100%);
}