@import '../../variables.scss';

.container {
    background-color: $background-color-classic;
    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    color: $color-gray-light;
}

.content {
    width: 80vw;
    position: relative;
}

.content::before,
.edge::before {
    content: '';
    position: absolute;
    width: 2.25rem;
    height: 30rem;
    background: linear-gradient(to bottom, $color-linear-gradient-first 0%, $color-linear-gradient-second 100%);
}

.content::after,
.edge::after {
    content: '';
    position: absolute;
    width: 30rem;
    height: 2.25rem;
    background: linear-gradient(to right, $color-linear-gradient-first 0%, $color-linear-gradient-second 100%);
}

.content::before {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    top: 0;
    left: 0;
}

.content::after {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    top: 0;
    left: 0;
}

.edge::before {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    bottom: 0;
    right: 0;
}

.edge::after {
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    bottom: 0;
    right: 0;
}