.container {
    position: relative;
    height: calc(100% - 10rem);
    padding: 5rem;
    display: flex;
    align-items: center;
}

.image {
    position: absolute;
    top: 5rem;
    left: 5rem;
    cursor: pointer;
    transition: .4s all;

}

.image:hover {
    transform: scale(1.2);
}