@import '../../variables.scss';

.container {
    flex: 1 1 50%;
    padding-left: 5rem;
    margin-right: 5rem;
    transform: translateY(-1rem);
}

.content {
    display: flex;
    width: 100%;
    position: relative;
}

.wrap_paragraphs {
    transform-origin: 100%;
    opacity: 0;
    width: 100%;
    transition: all .3s linear;
    position: absolute;
    top: 6rem;
    left: 0;
    transform: scaleX(0);
}

.wrap_paragraphs_active {
    opacity: 1;
    transform: scaleX(1);
}

.wrap_welcome {
    transform-origin: 0;
    opacity: 1;
    transition: all .3s linear;
    transform: scaleX(1);
}

.wrap_welcome_hidden {
    opacity: 0;
    transform: scaleX(0);
}


.hidden {
    opacity: 1;
    transform: scaleX(1);
}

.heading {
    font-size: 10rem;
    font-weight: 200;
    margin-bottom: 2rem;
}

.heading_2 {
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.paragraph {
    font-size: 1.5rem;
    line-height: 2.2rem;
}

.paragraph:not(:last-child) {
    margin-bottom: 2rem;
}

.paragraphs {
    padding-left: 2.5rem;
    position: relative;
}

.paragraphs::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, $color-linear-gradient-first 0%, $color-linear-gradient-second 100%);
}