@import '../../variables.scss';

.content {
    position: relative;
    color: transparent;
    font-size: 7rem;
    margin-bottom: 2rem;
}

.content h2 {
    font-size: 8rem;
    position: absolute;
    top: 0;
    left: 0;
}

.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px $color-linear-gradient-second;
}

.content h2:nth-child(2) {
    color: $color-linear-gradient-second;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}