.container {
    position: absolute;
    top: 7rem;
    right: 7rem;
}

.image {
    width: 4rem;
    margin-right: .8rem;
}


@media only screen and (max-width: 900px) {
    .container {
        top: 12rem;
    }
}