@import '../../variables.scss';

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: $background-color;
    justify-content: center;
    align-items: center;
    color: $color-gray-light;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 7rem;
    margin-bottom: 7.5rem;
}

.paragraph {
    font-size: 2.6rem;
}

.paragraph:last-of-type {
    margin-bottom: 8rem;
}